<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SMSAssessment.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - Film Slate</title>

    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/bundles/modernizr") %>
    </asp:PlaceHolder>

    <webopt:bundlereference runat="server" path="~/Content/css" />
    <link href="Assets/filmslate.png" rel="shortcut icon" type="image/x-icon" /> <!--logo-->

</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>

        <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark">
            <div class="container">
                <img src="Assets/filmslate.png" alt="Logo" style="width:76px; height:57px;"/>
                <a class="navbar-brand" runat="server" href="~/">Film Slate</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/LoginPage">Login</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/CreateAccount">Create Account</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/MoviesDB">Movies</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/Collection">Your Collection</a></li>
                        <li class="nav-item"><a class="nav-link" runat="server" href="~/UserActivity">Your Activity</a></li>
                    </ul>
                    <!--<div class ="d-flex align-items-center ms-auto"> <!--shows on right side of screen-->
                        <!--Search Movies &nbsp;-->
                        <!--
                            <asp:ListItem Value="All">All</asp:ListItem>
                            <asp:ListItem Value="Title">Title</asp:ListItem>
                            -->
                        <!--<asp:TextBox ID="SearchBox" runat="server" placeholder="Search Movies" Font-Size="12pt"></asp:TextBox>-->
                </div>
            </div>
        </nav>

        <div class="container body-content">
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <footer>
                <p>&copy; <%: DateTime.Now.Year %> - Film Slate</p>
            </footer>
        </div>
    </form>
    <asp:PlaceHolder runat="server">
        <%: Scripts.Render("~/Scripts/bootstrap.js") %>
    </asp:PlaceHolder>
</body>
</html>
